* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
  width: 700px;
  height: 50px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 700px;
  height: auto;
  margin-bottom: 50px;
}

.header-title {
  margin-bottom: 40px;
}

.question {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Первый вопрос */

.film-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 30px;
  position: relative;
}

/* Стили для ответов */
.button-green {
  background-color: #49b960;
  border: #49b960;
}

.button-red {
  background-color: #cd1726;
  border: #cd1726;
}

/* Первый вопрос */
.first-question {
  display: block;
}

.first-film-picture {
  display: none;
}

/* Второй вопрос */
.second-question {
  display: block;
}

.second-film-picture {
  display: none;
}
